div.post {
  border: 1px solid #ccc;
  float: left;
  height: auto;
  width: 400px;
  overflow: hidden;
  display: block;
  margin: 5px;
}

div.post:hover {
  border: 1px solid #777;
}

div.post img {
  max-width: none;
  min-width: 100%;
  max-height: 400px;
  min-height: 400px;
}

div.title {
  padding: 5px;
  text-align: center;
}

div.buttons {
  padding: 5px;
  text-align: center;
}

div.buttons li {
  display: inline;
}

button.button_like img {
  max-width: none;
  min-width: 100%;
  max-height: 25px;
  min-height: 25px;
}

button.button_dislike img {
  max-width: none;
  min-width: 100%;
  max-height: 25px;
  min-height: 25px;
}
