div.img_display {
  border: 1px solid #ccc;
  height: auto;
  width: auto;
  overflow: hidden;
  margin: 5px;
  display: inline-block;
}

div.img_display:hover {
  border: 1px solid #777;
}

div.img_display a img {
  max-height: 700px;
  min-height: 700px;
  max-width: 700px;
}

div.comments {
  border: 1px solid #ccc;
  height: auto;
  width: auto;
  margin: 5px;
  display: inline-block;
}

div.image-wrap-2 .post_img {
  object-fit: contain; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 100%;
  min-height: 50vh;
  max-height: 50vh;
}

.user_avatar {
	width: 65px;
	height: 65px;

	display: inline-block;
	vertical-align: middle;
  float: left;
}

.user_avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.comment_block {
	width: 65%;
	height: 100%;

	margin: 0 auto;
	padding: 10px;
}

.create_new_comment {
  width: 100%;
  padding: 20px 0;
}

.input_comment {
  display: inline-block;
  vertical-align: middle;

  margin-left: 10px;
  width: calc(100% - 75px);
}

.input_comment textarea {
  width: 100%;
  height: 65px;
  font-weight: 300;
  font-size: 1.3rem;
  padding: 10px;
  border: none;
}
