{% extends 'meme_portal/base.html' %}
{% load staticfiles %}

{% block body_block %}

{% if user.is_authenticated %}
	<br>
	<div class="row">
		<div class="container xxl">
			<div class="col">
				<div class="card">
					<br>
					<h3 style="padding:10px;">Welcome Back {{ user.username }}!</h3>
					<img class="profile-pic" style="height: 65px; width: 65px;" src="{{ user.userProfile.picture.url }}"/>
					<p style="padding-left:10px;">Visits: {{ visits }}</p>
				</div>
			</div>
		</div>
	</div>

{% else %}
	<a href="{% url 'meme_portal:login' %}">You are not Logged in</a><br />
{% endif %}
{% endblock %}
