{% extends 'meme_portal/base.html' %}
{% load staticfiles %}

{% block body_block %}

{% if user.is_authenticated %}
	<br>
	<div class="row">
		<dic class="container xxl">
				<dic class="col-md-6">
						<dic class="card">
								<h3 style="padding-left:20px;">Welcome Back {{ user.username }}!</h3>
								<img class="profile-pic"  src="{{request.user.userprofile.picture.url}}"/>
								<p style="padding-left:20px;">Visits: {{ visits }}</p>
	<div class="col-md-12">
	</div>
</div>

{% else %}
	<a href="{% url 'meme_portal:login' %}">You are not Logged in</a><br />
{% endif %}
{% endblock %}
