{% extends 'meme_portal/base.html' %}
{% load forum_tags %}
{% load staticfiles %}

{% block title_block %}
	{% if forum %}
		- {{ forum.name }}
	{% else %}
		- Forum Not Found
	{% endif %}
{% endblock %}

{% block add_nav_element %}
	{% if forum %}
		<li class="nav-item">
			<a href="{% url 'meme_portal:create_post' forum.slug %}" class="nav-link">Create Post </a>
		</li>
	{% endif %}
{% endblock %}

{% block add_js %}
	<script src="{% static 'js/like_button.js' %}"></script>
{% endblock %}

{% block body_block %}

	<div class="container">
		{% if forum %}
			<h2 class="text-center">{{ forum.name }}</h2>
			<div class="dropdown show text-center">
				<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Sort By
				</a>

				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					<a class="dropdown-item" href="{% url 'meme_portal:show_forum' forum.slug 'newest_first' %}">Newest</a>
					<a class="dropdown-item" href="{% url 'meme_portal:show_forum' forum.slug 'oldest_first' %}">Oldest</a>
					<a class="dropdown-item" href="{% url 'meme_portal:show_forum' forum.slug 'top_posts' %}">Best</a>
					<a class="dropdown-item" href="{% url 'meme_portal:show_forum' forum.slug 'worst_posts' %}">Worst</a>
				</div>
			</div>
			<br/>
			{% if posts %}
				<div class="row">
					{% for post in posts %}
						{% isIn user post.likes as hasLiked %}
						{% isIn user post.dislikes as hasDisliked %}
						<div class="col-lg-4">
							<div class="image-wrap-2">

								<div class="image-info">
									<h4 class="mb-3">{{ post.name }}</h4>
									<p class="mb-3">By - {{ post.author }}</p>
								</div>

								<a target="_blank" href="{{ post.img_url }}">
									<img class="img-fluid post_img" src="{{ post.img_url }}" alt="{{ post.name }}"/>
								</a>

								<div class="image-info">
									<button class="button_like" type="submit" clicked="{{ hasLiked }}" logged_in={{ user.is_authenticated }} post="{{ post.slug }}" post_url="{% url 'meme_portal:like_post' forum.slug post.slug %}">
										<img src="{% if hasLiked %}{% static 'images/forum/like.png' %}{% else %}{% static 'images/forum/like-grey.png' %}{% endif %}" post="{{ post.slug }}"/>
									</button>
									<span class="like_count" post="{{ post.slug }}" >{% subtract post.likes.count post.dislikes.count %}</span>
									<button class="button_dislike" type="submit" clicked="{{ hasDisliked }}" logged_in={{ user.is_authenticated }} post="{{ post.slug }}" post_url="{% url 'meme_portal:dislike_post' forum.slug post.slug %}">
										<img src="{% if hasDisliked %}{% static 'images/forum/dislike.png' %}{% else %}{% static 'images/forum/dislike-grey.png' %}{% endif %}" post="{{ post.slug }}"/>
									</button>
								</div>

								<div class="image-info">
									<a class="btn btn-outline btn-outline-secondary py-2 px-4" href="{% url 'meme_portal:show_post' forum.slug post.slug %}">View Comments ({{ post.comments.count }})</a>
								</div>

							</div>
						</div>
					{% endfor %}
				</div>
			{% else %}
				<div class="text-center justify-content-center align-items-center">
					<strong>This Forum contains no posts.</strong>
					<br/>
					<strong>Please help by creating some!</strong>
				</div>
			{% endif %}
		{% else %}
			<div class="text-center justify-content-center align-items-center">
				<strong>This Forum does not exist yet.</strong>
				<br/>
				<strong>Please help by creating it!</strong>
			</div>
		{% endif %}
	</div>

{% endblock %}
