{% extends 'meme_portal/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{% if forum %}
		- {{ forum.name }}
	{% else %}
		- Forum Not Found
	{% endif %}
{% endblock %}

{% block add_nav_element %}
	{% if forum %}
		<li class="nav-item">
			<a href="{% url 'meme_portal:create_post' forum.slug %}" class="nav-link">Create Post </a>
		</li>
	{% endif %}
{% endblock %}

{% block add_js %}
	<script>
		$(document).ready(function(){
			$(".button_dislike").click(function(e) {
				e.preventDefault();
				let _this_ = $(this);
				let _url_ = _this_.attr("post_url");
				let logged_in = _this_.attr("logged_in");

				let countText = $(".like_count[post_slug="+_this_.attr("post_slug"));
				let textValue = parseInt(countText.html());
				$.ajax({
					url: _url_,
					method: "GET",
					data: {},
					success: function(data) {
						if (logged_in === "True") {
							countText.text(textValue - 1);
						}
					},
					error: function(error) {
						console.log("error");
						console.log(error);
					}
				})
			})

			$(".button_like").click(function(e) {
				e.preventDefault();
				let _this_ = $(this);
				let _url_ = _this_.attr("post_url");
				let logged_in = _this_.attr("logged_in");

				let countText = $(".like_count[post_slug="+_this_.attr("post_slug"));
				let textValue = parseInt(countText.html());
				$.ajax({
					url: _url_,
					method: "GET",
					data: {},
					success: function(data) {
						if (logged_in === "True") {
							countText.text(textValue + 1);
						}
					},
					error: function(error) {
						console.log("error");
						console.log(error);
					}
				})
			})
		})
	</script>
{% endblock %}

{% block body_block %}

	<div>
		{% if forum %}
			<h1>{{ forum.name }}</h1>
			{% if posts %}
			{% for post in posts %}
					<div class="post">
						<div class="title">{{ post.name }} - by {{ post.author }}</div>
						<a target="_blank" href="{{ post.img_url }}">
							<img src="{{ post.img_url }}" alt="{{ post.name }}"/>
						</a>
						<div class="buttons">
							<ul>
								<li><button class="button_like" type="submit" logged_in={{ user.is_authenticated }} post_slug="{{ post.slug }}" post_url="{% url 'meme_portal:like_post' forum.slug post.slug %}">Like</button></li>
								<li class="like_count" post_slug="{{ post.slug }}" >{{ post.likes.count}}</li>
								<li><button class="button_dislike" button type="submit" logged_in={{ user.is_authenticated }} post_slug="{{ post.slug }}" post_url="{% url 'meme_portal:like_post' forum.slug post.slug %}">Dislike</button></li>
							</ul>
							<button type="submit">Comment</button>
						</div>
					</div>
				{% endfor %}

			{% else %}
				There are no posts yet
				<a href="{% url 'meme_portal:create_post' forum.slug %}"> Create a post </a>
			{% endif %}
		{% else %}
		This Forum does not exist, please create it.
		{% endif %}
	</div>

{% endblock %}
