{% extends 'meme_portal/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{% if forum %}
		- {{ forum.name }}
	{% else %}
		- Forum Not Found
	{% endif %}
{% endblock %}

{% block body_block %}

	<div>
		{% if forum %}
			<h1>{{ forum.name }}</h1>
			{% if posts %}
  			<div class="col-md-8"><a href="{% url 'meme_portal:create_post' forum.slug %}"> Create a post </a>
					</div>
			{% for post in posts %}
					<div class="post">
						<div class="title">{{ post.name }} - by {{ post.author }}</div>
						<a target="_blank" href="{{ post.img_url }}">
							<img src="{{ post.img_url }}" alt="{{ post.name }}"/>
						</a>
						<div class="buttons">
							<ul>
								<li><button type="submit">Like</button></li>
								<li><button type="submit">Comment</button></li>
								<li><button type="submit">Dislike</button></li>
							</ul>
						</div>
					</div>
				{% endfor %}

			{% else %}
				There are no posts yet
				<a href="{% url 'meme_portal:create_post' forum.slug %}"> Create a post </a>
			{% endif %}
		{% else %}
		This Forum does not exist, please create it.
		{% endif %}
	</div>

{% endblock %}
