{% extends 'meme_portal/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
<br>
<h2 style="padding-left:20px;">Recently Created</h2>
<div class="container">
    <div class="row justify-content-center"></div>
</div>
<div class="container" ></div>
	<div class="row gy-4" style="padding-left:20px;padding-right:20px;">
		<div class="col-sm"><a href="https://github.com/brandonf2002/WAD2-team15b/tree/main/meme_portal">
			<img src="media/cat4.jpg" alt="Picture of a Cat" /></a></div>		
		<div class="col-sm"><a href="https://github.com/brandonf2002/WAD2-team15b/tree/main/meme_portal">
			<img src="media/cat4.jpg" alt="Picture of a Cat" /></a></div>
		<div class="col-sm"><a href="https://github.com/brandonf2002/WAD2-team15b/tree/main/meme_portal">
			<img src="media/cat4.jpg" alt="Picture of a Cat" /></a></div>
		<div class="col-sm"><a href="https://github.com/brandonf2002/WAD2-team15b/tree/main/meme_portal">
			<img src="media/cat4.jpg" alt="Picture of a Cat" /></a></div>
	</div>
<br><br>
<h1 style="text-align:center">Welcome Back</h1>

<br><br>

<h2 style="padding-left:20px;">Whats new</h2>
<div class="container-sm">
    <div class="row justify-content-center"></div>
</div>
<div class="container px-4"></div>
	<div class="row gy-2" style="padding-left:20px;padding-right:20px;">
		<div class="col-sm"><a href="https://github.com/brandonf2002/WAD2-team15b/tree/main/meme_portal">
			<img src="media/cat4.jpg" alt="Picture of a Cat" /></a></div>		
		<div class="col-sm"><a href="https://github.com/brandonf2002/WAD2-team15b/tree/main/meme_portal">
			<img src="media/cat4.jpg" alt="Picture of a Cat" /></a></div>
		<div class="col-sm"><a href="https://github.com/brandonf2002/WAD2-team15b/tree/main/meme_portal">
			<img src="media/cat4.jpg" alt="Picture of a Cat" /></a></div>
	</div>
	
{% endblock %}

{% block footer_block %}
	<br>
{% endblock %}
