{% extends 'meme_portal/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}

{% if user.is_authenticated %}
	<a href="{% url 'meme_portal:index' %}">Return to the homepage.</a><br />
{% else %}
<div class="container-xxl">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form id="login_form" class="box" method="post" action="{% url 'meme_portal:login' %}" >
				{% csrf_token %}
                    <h1>Login</h1>
                    <p class="text-muted"> Please enter your login and password!</p> 
					<input type="text" name="username" placeholder="Username"> 
					<input type="password" name="password" placeholder="Password"> 
					<a class="forgot text-muted" href="#">Forgot password?</a> 
					<input type="submit" name="submit" value="Login" href="#">
                    <div class="col-md-12">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
