{% extends 'meme_portal/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block body_block %}

{% if registered %}
<a href="{% url 'meme_portal:index' %}">Return to the homepage.</a><br />
{% else %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
		    <form class="box" method="post" action="{% url 'meme_portal:register' %}">
                    <h1>Register</h1>
                    <p class="text-muted"> Please enter your details!</p> 
				{% csrf_token %}
				{{ user_form.as_p }}
				{{ profile_form.as_p }}
				<!--
					<input type="text" name="" placeholder="Email">
					<input type="text" name="" placeholder="Username"> 
					<input type="password" name="password" placeholder="Password"> 
					<input type="password" name="" placeholder="Password"> 
				-->
					<input type="submit" name="" value="Login" href="#" />
                    <div class="col-md-12">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
