{% extends 'meme_portal/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block body_block %}

{% if registered %}
<a href="{% url 'meme_portal:index' %}">Return to the homepage.</a><br />
{% else %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
				<form id="user_form" class="box" method="post" action="{% url 'meme_portal:register' %}" >

                <form onsubmit="event.preventDefault()" method="post" class="box">
				{% csrf_token %}
                    <h1>Register</h1>
                    <p class="text-muted"> Please enter your details!</p> 
					<input type="text" name="email" placeholder="Email">
					<input type="text" name="username" placeholder="Username"> 
					<input type="password" name="password" placeholder="Password"> 
					<input type="submit" name="submit" value="Register" href="#">
                    <div class="col-md-12">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
